<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css"/>


<body>
    <form class="login_container" action="/furnis/login" method="POST">
        
        <div class="login_frame" style="height: 460;">
            <div class="login_top">
                <span>Authorization</span>
                <div>
                    Returning to main page -  
                    <a href="/furnis" style="color: #6440fb;">Home</a></div>
                <p>
                    Did you register? 
                    <a href="/furnis/sign-up" style="color: #6440fb;">Register</a> </p>
            </div>

            <div class="login_input_frame">
                <div class="login_input_container">
                    <label>Name or Nickname:</label>
                    <input 
                    type="text" 
                    name="mb_nick" 
                    placeholder="Input the name" 
                    value="" 
                    required
                    />
                </div>
                <div class="login_input_container">
                    <label>Input the Password:</label>
                    <input 
                    type="password" 
                    name="mb_password" 
                    placeholder="Password" 
                    value="" 
                    required
                    />
                </div>
            </div>

            <button class="login_btn btn" name="login" type="submit">Enter</button>

        </div>
    </form>
</body>

<%- include('includes/footer') %>