<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form
    onsubmit="return validatedSignUpForm()"
    class="login_container"
    action="/furnis/sign-up"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span>Ro'yxatdan o'tish</span>
        <div>
          Bosh sahifaga qaytish.<a href="/furnis" style="color: #6440fb">
            Home</a
          >
        </div>
        <p>
          Ro'yxatdan allaqachon o'tganmisiz?
          <a href="/furnis/login" style="color: #6440fb">Login</a>
        </p>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Foydalanuvchining ismi</label>
          <input
            type="text"
            name="mb_nick"
            class="mb_nick"
            placeholder="Foydalanuvchining ismi"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label>Telefon raqam</label>
          <input
            type="text"
            name="mb_phone"
            class="mb_phone"
            placeholder="Telefon raqam"
            value=""
            required
          />
        </div>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label>Password</label>
          <input
            type="password"
            name="mb_password"
            class="mb_password"
            placeholder="password"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label>Passwordni tasdiqlash</label>
          <input
            type="password"
            name="mb_confirm_password"
            class="mb_confirm_password"
            placeholder="passwordni tasdiqlash"
            value=""
            ;
            required
          />
        </div>
      </div>

      <div class="login_input_frame">
        <div class="media-frame">
          <img class="upload_img_frame" src="/images/default_resto.jpeg" />
          <div class="upload_container">
            <span class="media_text">Taom rasmi</span>
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload-name"
                value="Rasmni tanlang"
                disabled="disabled"
              />
              <label for="input_file"> Rasm Yuklash</label>
              <input
                type="file"
                id="input_file"
                name="restaurant_img"
                placeholder="passwordni tasdiqlash"
                class="upload-hidden form-control-file restaurant_img"
              />
            </div>
            <p class="thumbnail_desc">
              Oshxona rasmingizni bu erga yuklang.<br />
              Muhim kurstamalar: .jpg, .jpeg, yoki .png.<br />
              rasmda matn yo'q bo'lishi darkor!
            </p>
          </div>
        </div>
      </div>

      <button class="login_btn btn" name="signup" type="submit">
        Ro'yhatdan o'tish
      </button>
    </div>
  </form>
</body>
<script>
  $(function () {
    let fileTarget = $(".filebox .upload-hidden");
    let filename = "";
    fileTarget.on("change", function () {
      if (window.FileReader) {
        const uploading_file = $(this)[0].files[0];
        const fileType = uploading_file["type"];
        const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
        if (!validImageTypes.includes(fileType)) {
          alert(
            "Iltimos ruhsat etilgan formatdagi rasmlarni yuklang: jpg, jpeg va png!"
          );
        } else {
          if (uploading_file) {
            console.log(URL.createObjectURL(uploading_file));
            $(".upload_img_frame")
              .attr("src", URL.createObjectURL(uploading_file))
              .addClass("success");
          }
          let filename = uploading_file.name;
        }
      }
      $(this).siblings(".upload-name").val(filename);
    });
  });

  function validatedSignUpForm() {
    const mb_nick = $(".mb_nick").val(); //inputni qiymatini olishda val() ishlatamiz
    const mb_phone = $(".mb_phone").val();
    const mb_password = $(".mb_password").val();
    const mb_confirm_password = $(".mb_confirm_password").val();
    const restaurant_img = $(".restaurant_img").get(0).files[0] ?? null;
    if (
      mb_nick == "" ||
      mb_phone == "" ||
      mb_password == "" ||
      mb_confirm_password == ""
    ) {
      alert("Iltimos hamma malumotlarni kiriting");
    } else if (mb_password !== mb_confirm_password) {
      alert("Iltimos passwordni togri kiriting");
    }

    if (!restaurant_img) {
      alert("Iltimos rasmni yuklang!");
    }
    return true; // test qilganda hamisha false bulmasa backendga zapros yuboradi
  }
</script>

<%- include('includes/footer') %>
